/* ---- reset ---- */
body {
    margin:0; 
    font:normal 75% Arial, Helvetica, sans-serif;

}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}
canvas {
    display: block; 
    vertical-align: bottom; }
 /* ---- particles.js container ---- */ 
#particles-js{ 
    text-align: center;
    position:absolute;
    width: 100%; 

    background-color: #232741; 
    background-image: url("ee.png"); 
    background-repeat: no-repeat; 
    background-size: 20%; 
    background-position: 50% 50%; 

} 
/* ---- stats.js ---- */
 .count-particles { 
     background: #000022; 
     position: absolute; 
     top: 48px; 
     left: 0; 
     width: 80px; 
     color: #13E8E9; 
     font-size: .8em; 
     text-align: left; 
     text-indent: 4px; 
     line-height: 14px; 
     padding-bottom: 2px; 
     font-family: Helvetica, Arial, sans-serif; 
     font-weight: bold; 

 } .js-count-particles { 
     font-size: 1.1em;

   } 




.content {
    text-align: center;
   
}

.content h1 {
color:white;

    margin-bottom: 20px;
}

.content p {
    color:white;
    
}
@media (max-width: 768px) {
    #particles-js {
        height: 100%;
        text-align: center;
        position: absolute;
        width: 100%;
        background-color: #232741;
        background-image: url("ee.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: 50% 50%;
    }

}
